__pycache__/
*.py[cod]
dist/
*.egg-info/
build/
aiofranka/_native*.so
aiofranka/_native*.pyd
examples/vision
examples/03_collect.py
examples/sysid
data/
nov_results/
vel_results/
examples/sysid_left.zip
examples/sysid.npz
examples/checkpoints/
examples/sysid_left/
examples/sysid_right/
vel_results.zip

docs/aiofranka_refs.bib
docs/ieee.aux
docs/ieee.bbl
docs/ieee.blg
docs/ieee.fdb_latexmk
docs/ieee.fls
docs/ieee.log
docs/ieee.out
docs/ieee.pdf
docs/ieee.synctex.gz
docs/ieee.tex
docs/main.tex
references/

# Sphinx documentation
# docs/_build/
# docs/doctrees/
# docs/*.html
# docs/*.js
# docs/_static/
# docs/_sources/
# docs/api/
# !docs/source/
more_grid_heatmap.pdf
more_grid_heatmap.png
more_grid_sysid.zip

*.npz
final_grid/
more_grid/
same_frequency_results/
vel_results_new/
plot_heatmap.py
sysid_script.sh
test_K128_D8.png
test.png
demos/

rss2026/
checkpoints/
examples/sysid_*
examples/TEST_*
