include README.md
include LICENSE
include CHANGELOG.md
include aiofranka/calibration_cube.json
include aiofranka/model/fr3.xml
include aiofranka/model/scene.xml
include aiofranka/model/LICENSE
recursive-include aiofranka/model/assets link*_*.obj *.stl
include aiofranka/model/assets/link1.obj
include aiofranka/model/assets/link2.obj
recursive-include tests *.py
recursive-include src/native *.h *.hpp *.cpp LICENSE

prune .github
prune .vscode
prune assets
prune docs
prune examples
prune aiofranka/docs
global-exclude __pycache__
global-exclude *.py[cod]
